/**
 * @author : Nimesh Piyumantha
 * @since : 0.1.0
 **/

.body{
    margin: 0;
    padding: 0;
}

.background{
    width: 100%;
    height: 100vh;
    background: url("../../img/background.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    overflow-x: hidden;
    position: absolute;
}

.boy{
    height: 300px;
    margin-top: 500px;
    position: absolute;
}

.box{
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 660px;
    background-image: url("../../img/dragon.gif");
    background-size: contain;
    background-repeat: no-repeat;
}

.score{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 200px;
    margin-top: 20px;
    position: absolute;
    font-family: "Gadugi", serif;
    color: #ecf0f1 ;
}

.scoreN{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 30px;
    margin-top: 15px;
    position: absolute;
    font-family: "Gadugi", serif;
    color: #ecf0f1 ;
}

